<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yctc.zhiting">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 请求网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取WIFI信息状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 安装apk -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".application.Application"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.DLAddPwdFailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DLAddPwdSuccessActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".activity.DLAddPwdActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".activity.DLUserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DLAuthWayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DLAddUserActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UserManageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DisposablePwdAddActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DisposablePwdActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DLGuideActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DLLogActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".activity.DoorLockDetailActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activity.ImageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FeedbackDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FeedbackListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ThirdPartyWebActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ThirdPartyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChangeIconActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GuideActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AvatarActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ForgetPwdActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AccountCancellationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PwdModifyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AccountAndSecurityActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ExperienceCenterActivity"
            android:exported="false" />
        <activity android:name=".activity.CompanyMemberDetailActivity" />
        <activity android:name=".activity.AddMemberActivity" />
        <activity android:name=".activity.DepartmentSettingsActivity" />
        <activity android:name=".activity.DepartmentDetailActivity" />
        <activity android:name=".activity.DepartmentListActivity" />
        <activity android:name=".activity.CompanyDetailActivity" />
        <activity android:name=".activity.AddCompanyActivity" />
        <activity android:name=".activity.CreatePluginDetailActivity" />
        <activity android:name=".activity.SBSearchActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.SupportBrand2Activity" />
        <activity
            android:name=".activity.AgreementAndPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NormalWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConfigNetworkWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScanDevice2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApNetworkActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.SetHomeKitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FindSAGuideActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.TransferOwnerActivity" />
        <activity
            android:name=".activity.SceneDeviceTaskAttrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SceneListNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SceneDeviceConditionAttrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SceneDetailDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SceneDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.BindCloudActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetUPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EffectTimePeriodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SceneListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TaskDeviceControlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SceneDeviceStatusControlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SceneDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HowCreateSceneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CreateSceneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.UpdateDeviceLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeviceSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeviceDetailActivity"
            android:screenOrientation="portrait" /> <!-- 头条适配 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="com.yctc.zhiting"
                    android:path="/sign"
                    android:scheme="zt" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PluginDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BrandDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SupportBrandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeviceConnectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScanDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MemberDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RADetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RoomAreaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddHCActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeCompanyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HCDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DevicesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetDevicePositionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden" /> <!-- <activity android:name=".activity.ScanActivity" /> -->
        <activity
            android:name=".activity.CommonWebActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.ErrorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthorizeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SoftwareUpgradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DevicesSortActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommonDeviceSetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomDeviceLocationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.DoorSettingActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>